<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Travels Dashboard</title>

    <style>

        body{
            text-align: right;
            padding: 3rem;
        }   

        .wrapper{
            width: 90%;
            margin: 0 auto;
            text-align: left;
        }

        section{
            margin: 2rem 0;
        }
    </style>
</head>
<body>
    <a href="/logout">Logout</a>
    <div class="wrapper">
        <h1 class="display-4">Hello, {{user.name}}!</h1>
        <section>
            <h2>Your Trip Schedules</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Plan</th>
                    </tr>
                </thead>
                <tbody>
    
                    {% for trip in users_trips %}
                    <tr>
                        <td><a href="/view_trip/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.travel_date_from}}</td>
                        <td>{{trip.travel_date_to}}</td>
                        <td>{{trip.desc}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <h2>Other User's Travel Plans</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travvel End Date</th>
                        <th scope="col">Do You Want to Join?</th>
                    </tr>
                </thead>
                <tbody>
    
                    {% for trip in all_trips %}
 
                    <tr>
                        <td>{{trip.creator.name}}</td>
                        <td><a href="/view_trip/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.travel_date_from}}</td>
                        <td>{{trip.travel_date_to}}</td>
                        <td><a href="/join_trip/{{trip.id}}">Join</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <a href="/add_travel_plan">Add Travel Plan</a>
    
</body>
</html>