{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/home-style.css'%}">
    <script src="https://kit.fontawesome.com/7e3e6f27d8.js" crossorigin="anonymous"></script>
 
    <title>Travel Buddy</title>
</head>
<body>
    <div class="home">
        <div class="container">
            <img src="/static/img/logo-final.svg" alt="logo" class="logo">
            {% if logged_in %}
                <nav>
                    <ul>
                        <li><a href="/logout" class="logout">Logout</a></li>
                    </ul>
                </nav>
                    <div class="heading">
                        <h1>Welcome, {{user.name}}</h1>
                    </div>
                    <h2 class="sub-heading">Start your journey</h2>
                    <div class="arrow">
                        <a href="#journey"><i class="fas fa-arrow-down"></i></a>
                    </div>
                </div>
            {% else %}    
                <nav>
                    <ul>
                        <li><a href="/signup">Join</a></li>
                        <li><a href="/signup">Login</a></li>
                    </ul>
                </nav>
                <div class="home-text">
                    <div>
                        <div class="heading">
                            <h1>Plan your trips for Tomorrow, Today</h1>
                        </div>
                        <a href="#about"><button class="btn">Learn More</button></a>
                    </div>
                </div>
            {% endif %}
            <img src="/static/img/left.svg" alt="left" id="left" >
            <img src="/static/img/right.svg" alt="right" id="right" >
        </div>
    </div>

    <div class="about" id="about">
        <h2>About Us</h2>
        <div class="about-grid">
            <img src="/static/img/about.jpeg" alt="backpack" id="backpack">
            <div class="text">
                <p>Travel Buddy is the right place if you find yourself in need of finding a buddy for 
                    travel. You can browsw trips until you find the perfect match with a travel companion.
                </p>
                <p>No matter how you image your perfect travel buddy, you can always find someone to team 
                    up with on Travel Buddy. We try to make the experience of finding a travel buddy as 
                    easy as possible so you can start traveling together in no time!
                </p>
            </div>
        </div>

    </div>
    {% if logged_in %}
    {% endif %}
        <div class="wrapper">
            <div id="journey" class="your-trips">
                <!-- <img src="/static/img/campfire.svg" alt="campfire" id="campfire"> -->
                <div class="trips">
                    <h1>Your Trips</h1>

                    {% if trip_count > 0 %}
                        <section class="cards">            
                            {% for trip in users_trips %}
                            <div class="card">
                                <h3>{{trip.destination}}</h3>
                                <p><span>From:</span> {{trip.travel_date_from}}</p>
                                <p><span>To:</span> {{trip.travel_date_to}}</p>
                                <p><span>Description:</span> {{trip.desc}}</p> 
                                <a href="/view_trip/{{trip.id}}">More Info</a>
                            </div>
                            {% endfor %}
                        </section>
                    {% else %}
                        <div class="no-trips">
                            <i class="far fa-frown"></i>
                            <p>You do not any trips at the moment</p>
                        </div>
                    {% endif %}
                    {% if logged_in %}
                        <a href="/add_travel_plan" class="add-btn"><strong>Create Trip</strong></a>
                    {% else %}
                        <a href="/signup" class="add-btn"><strong>Join</strong></a>
                    {% endif %}

                </div>
            </div>
            <!-- <img src="/static/img/campfire.svg" alt="campfire" id="campfire"> -->
            <!-- <div class="right-align">
                <img src="/static/img/campfire-light.svg" alt="campfire-light" id="campfire_light">
            </div> -->
            <div class="trips">
                <h1>Users Trips</h1>
                <section class="cards">
        
                    {% for trip in all_trips %}
                    <div class="card">
                        <h3>{{trip.destination}}</h3>
                        <p><span>By:</span> {{trip.creator.name}}</p>
                        <p><span>From:</span> {{trip.travel_date_from}}</p>
                        <p><span>To:</span> {{trip.travel_date_to}}</p>
                        {% if logged_in %}
                            <a href="/view_trip/{{trip.id}}">More info</a>
                            <a href="/join_trip/{{trip.id}}">Join</a>
                        {% endif %}
                    </div>
                    {% endfor %}

                </section>
            </div>
        </div>


    <footer>
        <div class="footer-container">
            <img src="/static/img/logo-final.svg" alt="logo" class="logo-small">
            <h2>Contact Us</h2>
            <p>(555)-555-555</p>
            &nbsp;
            <p>traveluddy@gmail.com</p>
            <p class="copyright">© 2020 Travel Buddy | All rights reserved.</p>
        </div>
    </footer>


</body>
</html>