{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/trip.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create Trip</title>
</head>
<body>
    <header>
            <a href="/travels" class="button">Home</a>
            <!-- <a href="/logout" class="button">Logout</a> -->
    </header>
    
    <div class="container">
        <h1 class="display-4">{{trip.destination}}</h1>
        <div class="content">
            <p><strong>Planned By: </strong>{{trip.creator.name}}</p>
            <p><strong>Description: </strong>{{trip.desc}}</p>
            <p><strong>Start Date: </strong>{{trip.travel_date_from}}</p>
            <p><strong>End Date: </strong>{{trip.travel_date_to}}</p>
        </div>
        <h1 class="display-4">Going</h1>
        <div class="content">
            
            {% for user in other_users %}
                {% if user.id != trip.creator.id %}
                    <p>{{user.name}}</p>    
                {% endif %}
            {% endfor %}
            
        </div>

        
      
    </div>
</body>
</html>